.name {
	font-weight: bold;
}
.name:hover {
	font-size: 150%;
	cursor:pointer;
	text-decoration: underline;
	color: red;
}

#website:hover {
	color: red;
	cursor:pointer;
}

.light1 {
	height:300px;
    overflow:scroll;
    overflow-x:hidden;
}

.directions {
	cursor:pointer;
	color: #0000FF;
}

.directions:hover {
	color: red;
	cursor:pointer;
	text-decoration: underline;
}
